.body-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 744px) {
  .body-container {
    padding: 0 30px;
  }
}
@media (min-width: 1128px) {
  .body-container {
    padding: 0;
  }
}
